{% load static %}

<!doctype html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{% static "importer/style.css" %}">
    <body>
        <img src="{{ post.sample_url }}" height="{{ sample_height }}" width="{{ sample_width }}" style="float:right;" alt="image"/>

        <table style="float: left">
            <tr>
                <th colspan="2">Post Details</th>
            </tr>
            <tr>
                <th>Post ID</th>
                <td><a href="https://rule34.xxx/index.php?page=post&s=view&id={{ post.post_id }}">{{ post.post_id }}</a></td>
            </tr>
            <tr>
                <th>Post URL</th>
                <td><a href="{{ post.file_url }}">Link</a></td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ post.height }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ post.width }}</td>
            </tr>
            <tr>
                <th>Sample URL</th>
                <td><a href="{{ post.sample_url }}">Link</a></td>
            </tr>
            <tr>
                <th>Sample Height</th>
                <td>{{ post.sample_height }}</td>
            </tr>
            <tr>
                <th>Sample Width</th>
                <td>{{ post.sample_width }}</td>
            </tr>
            <tr>
                <th>Preview URL</th>
                <td><a href="{{ post.preview_url }}">Link</a></td>
            </tr>
            <tr>
                <th>Preview Height</th>
                <td>{{ post.preview_height }}</td>
            </tr>
            <tr>
                <th>Preview Width</th>
                <td>{{ post.preview_width }}</td>
            </tr>
            <tr>
                <th>MD5</th>
                <td>{{ post.md5_hash }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td><a href="{{ post.source_url }}">Link</a></td>
            </tr>
            {% if post.parent_id != -1 %}
                <tr>
                    <th>Parent ID</th>
                    <td><a href="https://rule34.xxx/index.php?page=post&s=view&id={{ post.parent_id }}">{{ post.parent_id }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Has Children?</th>
                <td>{{ post.has_children }}</td>
            </tr>
            <tr>
                <th>Creation Timestamp</th>
                <td>{{ post.creation_timestamp }}</td>
            </tr>
            <tr>
                <th>Imported?</th>
                <td>{{ post.imported }}</td>
            </tr>
            {% if post.imported %}
                <tr>
                    <th>Import Timestamp</th>
                    <td>{{ post.import_timestamp }}</td>
                </tr>
                {% if post.shimmie_id != -1 %}
                    <tr>
                        <th>Shimmie Link</th>
                        <td><a href="{{ shimmie_link }}/index.php?q=post/view/{{ post.shimmie_id }}">{{ post.shimmie_id }}</a></td>
                    </tr>
                {% endif %}
            {% endif %}
        </table>

        <table>
            <tr>
                <th>Tag</th>
                <th>Imported?</th>
                <th>Rule 34 Link</th>
            </tr>
            {% for tag in post.tags %}
                <tr {% if tag in post.imported_tags %} class="approved" {% else %} class="denied" {% endif %}>
                    <td>{{ tag }}</td>
                    <td>{% if tag in post.imported_tags %} True {% else %} False {% endif %}</td>
                    <td><a href="https://rule34.xxx/index.php?page=post&s=list&tags={{ tag.tag_name }}">Link</a></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
